<div class="container-fluid padding footer-top">
    <div class="row text-center">
        <div class="col-md-4">
            <h5 class="mt-5">Contacta con nosotros:</h5>
            <hr class="light">
            <p>555-555-555</p>
            <p>email@email.com</p>
            <p>100 Street, Name</p>
            <p>City, State, Country</p>
        </div>

        <div class="col-md-4">
            <h5 class="mt-5">Ubicación:</h5>
            <hr class="light">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6064.024648532246!2d-3.628493341976622!3d40.541316867268854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1596295110941!5m2!1ses!2ses"
                height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
        </div>
        <div class="col-md-4">
            <h5 class="mt-5">Horarios:</h5>
            <hr class="light">
            <p>Lunes: 9:00 - 20:00</p>
            <p>Martes: 9:00 - 20:00</p>
            <p>Miércoles: 9:00 - 20:00</p>
            <p>Jueves: 9:00 - 20:00</p>
            <p>Viernes: 9:00 - 20:00</p>

        </div>

        <div class="col-12 footer-bottom">
            <hr class="light w-100">
            <h6>
                &copy; MiguelBohorquez.com
            </h6>
        </div>