<!-- --- BARRA DE NAVEGACION --- -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand title" href="#">
<!--       <h1 id="title" data-text="HOMEPAGE">HOMEPAGE</h1> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/pagina-principal"
            >Pagina principal</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/caracteristicas">Características</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            routerLink="/servicios"
          >
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Servicio 01</a></li>
            <li><a class="dropdown-item" href="#">Servicio 02</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contactanos"
            >Contacta con nosotros</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
